html{
  background-color: var(--background);
}


@font-face {
  font-family: "Inferi";
  font-style: normal;
  src: url("fonts/Inferi-Book.woff") format("woff");
}

@font-face {
  font-family: "Inferi";
  font-style: italic;
  src: url("fonts/Inferi-BookItalic.woff") format("woff");
}


@font-face {
  font-family: "Inferi Dante";
  font-style: normal;
  src: url("fonts/Inferi-Dante.woff") format("woff");
}

@font-face {
  font-family: "Jester 21-WORLD";
  font-style: normal;
  src: url("fonts/Jester-21-WORLD.woff") format("woff");
}

@font-face {
  font-family: "Jester 06-LOVER";
  font-style: normal;
  src: url("fonts/Jester-06-LOVER.woff") format("woff");
}

@media (prefers-color-scheme: dark) {
  :root{
    --background: #000000;
    --hilight: #DDDDDD;
    --number: #ffffff;
  }
}

@media (prefers-color-scheme: light) {
  :root{
    --hilight: #000000;
    --background: #f1f1f1;
    --number: #000000;

  }
}

.longavantpropos{
  position: relative;
  top:2.5%;left:2.5%;
  height:70%;
  width:80%;
  font-size: 2rem;
}

.longavantpropos > i{
  font-family: "Inferi Dante";
}

.inlinetitres{
  position: fixed;
  top: 2.9%;
    left: 90%;
}

.arial_link{
  font-family: 'Arial';
position: relative;
font-size: 0.7rem;
top: 1.2rem;
left: -36%;
}
.titreaccueil{
  position: relative;
  margin-top: 1.5%;
  margin-left: 3.9%;
  height: 100%;
  margin-bottom: 0px;
  font-size: 1.5rem;
  text-align: left;
  white-space: nowrap;

}

.titreaccueil > a{
  color: inherit;
text-decoration: inherit;transition: text-shadow 300ms;
}

.titreaccueil > a:hover{
cursor: pointer;
text-shadow: var(--number) 0px 0px 4px;

}
/* GESTION DIV RESSOURCES */


/* GESTION DIV RESSOURCES */


body{
      counter-reset: sidenote-counter entrycounter;
}
p, h1, h2, h3, blockquote, .hyperlink{
font-family:"Inferi";
font-size:1.4rem;
margin-left: 2.5%;
color:var(--hilight);
}

.hyperlink{
  font-family: arial, sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: underline;
}

.hyperlink::before{
  content: ">> ";
}

h1{      counter-set: sidenote-counter 0 entrycounter 0;

  font-family: "Jester 21-WORLD";
font-size: 6.3rem;
font-weight: normal;
width: 90%;
margin-bottom: 1.4rem;
}
h1 > span{
  font-family: "Jester 21-WORLD";
}

p{
  width: 55%;
  text-align: justify;
  line-height: 140%;
  hyphens: auto;
                -ms-hyphens: auto;
                -moz-hyphens: auto;
                -webkit-hyphens: auto;
}
body:last-child{
  margin-bottom:70vh;
}
img, figure{
  width:100%;
}
/*
p:after{
  content: "*";
font-size: 2.3rem;
top: 2.2rem;
position: relative;
display: block;
left: 50%;
}*/

.split{
  position: fixed;
  height:100%;
  width:1px;
    /*background-color: var(--hilight);*/
    top:0%;
    left:60%;
}

hr{pointer-events: all;
  margin-top: 1.4rem;
margin-bottom: 1.4rem;
width: 55%;
border-color: transparent;
  border-bottom-color: transparent;
border-bottom-color: transparent;
border-bottom: 2px solid var(--hilight);
text-align: center;
margin-left: 2.5%;
position: sticky;
top: 0%;
background-color: var(--background);
}
blockquote > p{
  font-family: "Inferi Dante";
  font-size: 1.4rem;
  margin-left: 0;
  width: 58%;
  text-align: left;
}

blockquote > p > strong{
  font-weight: normal;
}

hr::before{
  counter-increment: entrycounter;
  content: counter(entrycounter);
  font-family: "Jester 06-LOVER";
  color: var(--hilight);
  font-size: 2rem;
}
hr::after{
  content: counter(entrycounter);
  font-family: "Arial";
  color: var(--hilight);
  font-size: 0.7rem;
  position: relative;
  top: 0.86rem;
left: -2rem;
  animation: numberofentry infinite 60s;
  animation-timing-function: steps(120,start);
}

@keyframes numberofentry {
0%{
  top: 0.86rem;
left: -2rem;
}
10%{
  top: 0.76rem;
left: -2.2rem;
}
20%{
  top: 0.5rem;
left: -2.3rem;
}
30%{
  top: 0.4rem;
left: -2rem;
}
40%{
  top: 0rem;
left: -2.9rem;
}
50%{
  top: -1rem;
left: -2.8rem;
}
60%{
  top: -1rem;
left: -2.6rem;
}
70%{
  top: -0.5rem;
left: -2.4rem;
}
80%{
  top: 0rem;
left: -2.2rem;
}
90%{
  top: 0.5rem;
  left:-2.1rem
}
100%{
  top: 0.86rem;
left: -2rem;
}
}
hr + p, hr + blockquote > p{

}

ol{
  columns: 3;
  font-size: 1rem;
}

li > p{
  font-size: 1rem;
  width: 75%;
}
sup{
  font-family: "Inferi Book";
  font-feature-settings: 'tnum' on, 'onum' on;
  vertical-align: super;
  font-size: 0.9rem;
  color: #4E01AF;
  line-height: 0.5rem;
  text-decoration: underline;
}
a{
  text-decoration: none
}


/* AJOUT A TUFTE CSS*/

.sidenote-number:hover{
  cursor: normal;
}

.sidenote:hover, .sidenote-wrapper:hover{
  cursor: normal;
}

.sidenote-wrapper{
white-space:nowrap;}
/* Tufte CSS styles ---CUSTOMISED */

/* Also make the sidenote numbers hang */
.sidenote {
  white-space:normal;
    text-indent: -0.4rem;
}
.sidenote:before {
    /* removes trailing space from the counter content */
    content: counter(sidenote-counter);
    left: -0.4rem;
}
figure {
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    max-width: 55%;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    margin: 0 0 0 2.5%;
}

figcaption {
    float: right;
    clear: right;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.6;
    vertical-align: baseline;
    position: relative;
    color:var(--number);
}

figure.fullwidth figcaption {
    margin-right: 24%;
}

/* Sidenotes, margin notes, figures, captions */
img {
    max-width: 100%;
}

.sidenote,
.marginnote, figcaption {
    float: right;
    clear: right;
    margin-right: -64%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
font-size: 1rem;    line-height: 1.4;
    vertical-align: baseline;
    position: relative;
    font-family: "Inferi Book";
    transition: text-shadow 300ms;
}

.sidenote-number {
    counter-increment: sidenote-counter;
    transition: box-shadow 100ms ease-out,color 100ms, background-color 100ms;
}

.sidenote-number:hover ~ .sidenote:first-of-type, .sidenote-wrapper:hover{
  text-shadow: var(--number) 0px 0px 4px;
}

/* prev siblings should be red */
.sidenote-wrapper:hover .sidenote-number {
  box-shadow: 0px 0px 0.3rem 0.5rem var(--number);
  color: var(--background);

  background-color: var(--number);
}
.sidenote-wrapper .sidenote-number:hover,
.sidenote-wrapper .sidenote-number:hover ~ .sidenote{
}

.sidenote:hover
.sidenote-number:after,
.sidenote:before {
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);

}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    display: inline-block;
    font-feature-settings: 'tnum' on, 'onum' on;
    vertical-align: super;
    font-size: 0.9rem;
    color: var(--hilight);
    line-height: 0.5rem;
    font-family: "Inferi Book";
}

blockquote .sidenote,
blockquote .marginnote {
  margin-right: -64%;
  text-align: left;
}




input.margin-toggle {
    display: none;
}

label.sidenote-number {
    display: inline-block;
    font-feature-settings: 'tnum' on, 'onum' on;
    vertical-align: super;
    font-size: 0.8rem;
    color: var(--number);
    text-decoration: underline;
    font-weight: bold;
    line-height: 0.5rem;
    font-family: "Inferi Book";
}

label.margin-toggle:not(.sidenote-number) {
    display: none;
}
