<meta charset="utf-8">
<body id="markdownBody">
<blockquote>
<p>La terre que je porte dans mon cœur, c’est une région de champs
étroits, où l’ivraie et le chardon se mêlent à l’épeautre et à
l’engrain. C’est une région de rivières douces, qui s’alanguissent sans
des lits de cailloux blancs en été, qui roulent des tourbillons sombres
sur les berges et les prairies lors des crues d’hivers. C’est un pays de
pâtures grasses, de fondrières fleuries, de ruisseaux vagabonds, de
forêts enchevêtrées où le jour perce en ondées dorées.</p>
</blockquote>
<h1 id="avant-propos">Avant-Propos</h1>
<p>Si, tout au long de ce mémoire, j’aborde la question de paysage, ce
n’est pas afin de répéter ce que beaucoup (cités au fil de ce texte) ont
déjà pu écrire au sujet du paysage. Je ne tergiverserai alors pas sur
les conditions d’apparitions du concept de paysage, de sa place dans
l’art au fil du temps ainsi que toutes les implications qu’il a pu
prendre dans des domaines variés tels que l’architecture, l’écologie ou
encore la géographie. Les théoricien·nes du paysage n’étant en accord,
ni sur une définition du terme, ni sur ses usages probables, on ne
s’imposera pas de définition trop précise (arrêtée) du concept.</p>
<blockquote>
<p>Une recherche sur le paysage devrait se montrer fidèle à une sorte de
principe de visibilité, c’est-à-dire s’attacher d’une façon constante ou
du moins prioritaire à ce qui s’offre aux sens, à ce qui se perçoit,
s’entend, se subodore. <a href="#fn1" class="footnote-ref" id="fnref1"
role="doc-noteref"><sup>1</sup></a></p>
</blockquote>
<p>On assumera alors le terme paysage comme un concept volontairement
flou, de l’ordre du ressenti, en s’appuyant principalement sur les
interrelations perceptives et sensibles du paysage, soit-il réel ou
(re)présenté. Ainsi, je ne me dédouane pas des diverses implications de
son usage ici, mais plutôt <em>j’étends</em>, à la manière du paysage,
l’horizon. Étalant ainsi le champ d’appréciation, on se permettra
d’employer le terme pour et dans tous les contextes où il serait
pertinent (à tort et à travers), mais aussi on lui préférera parfois
d’autres termes (l’atmosphère, l’ambiance). Les angles de réflexion
seront abordés, par des méthodes aussi variées que celle de l’emprunt,
de la citation, à la manière du rêveur dans son hamac, qui s’imagine
tissant des liens, s’arnachant au bancal, fixé sur des fils à rien de
rompre. Tout du long on liera bribes de ressentis, citations, sons et
images qui peu à peu, fil à fil, déploieront un <em>paysage des
paysages</em> sur l’horizon sensible.</p>
<blockquote>
<p>l'approche universitaire classique, froide et mécaniste […] néglige
complètement l’imaginaire et symbolique […] au discours académique je
préfère la technique du collage pictural/musical<a href="#fn2"
class="footnote-ref" id="fnref2" role="doc-noteref"><sup>2</sup></a></p>
</blockquote>
<p>Ce mémoire se construit à partir de textes, d’images et de sons, donc
pour accéder aux sons vous pouvez : télécharger l’archive .zip contenant
les fichiers sons à l’adresse <u>memoire.dddoss.eu/sons</u> ou bien lire
la version web du mémoire accessible via <u>memoire.dddoss.eu</u>.
Chacune des entrées (listées de la manière qui suit : A1, A2, B12, C4,
etc.) a vocation à être indépendante, permettant une lecture linéaire et
à la fois non linéaire. Le mémoire respecte les règles de l’inclusif·ve
ainsi que la charte bibliographique des PUF.</p>
<section id="footnotes" class="footnotes footnotes-end-of-document"
role="doc-endnotes">
<hr />
<ol>
<li id="fn1"><p><em>Variations Paysagères</em>, Pierre Sansot, Paris,
éd. Klincksieck, 1983<a href="#fnref1" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
<li id="fn2"><p>Lebel Jean-Jacques, <em>L’Amour et l’argent</em>, Paris,
Stock, 1979, p. 17<a href="#fnref2" class="footnote-back"
role="doc-backlink">↩︎</a></p></li>
</ol>
</section>
</body>
<script src="sidenotes.js"></script>

