@page {
  size: 160mm 210mm;
  padding: 8mm;
  margin: 0mm;
  bleed: 5mm;
  marks:crop;
  border-collapse: collapse;

}

@font-face {
  font-family: "Inferi";
  font-style: normal;
  src: url("fonts/Inferi-Book.woff") format("woff");
}

@font-face {
  font-family: "Inferi";
  font-style: italic;
  src: url("fonts/Inferi-BookItalic.woff") format("woff");
}


@font-face {
  font-family: "Inferi Dante";
  font-style: normal;
  src: url("fonts/Inferi-Dante.woff") format("woff");
}

@font-face {
  font-family: "Jester 21-WORLD";
  font-style: normal;
  src: url("fonts/Jester-21-WORLD.woff") format("woff");
}

@font-face {
  font-family: "Jester 06-LOVER";
  font-style: normal;
  src: url("fonts/Jester-06-LOVER.woff") format("woff");
}



  :root{
    --hilight: #000000;
    --background: white;
    --number: #000000;

  }


@page:left{  background-color: #000000;

  @left-middle{
    content: attr(data-folio);
    transform: rotate(270deg);
    color: #ffffff;
    font-size: 9pt;
    font-weight: 600;
  margin-left: 6mm;
  text-transform: capitalize;
  font-family: Arial Narrow;

  }
}

@page:right{  background-color: #000000;

  @right-middle{
    content: attr(data-folio);

    margin-left: -12mm;
    transform: rotate(90deg);
    color: #ffffff;
    font-size: 9pt;
    font-weight: 600;
    text-transform: capitalize;
    font-family: Arial Narrow;
  }  

}

.jestertitre{
  font-family: "Jester 21-WORLD";
  text-align: center;
  position: absolute;
  bottom: -16mm;
  width:100%;
  left: 0mm;
  font-size: 58pt;
  font-weight: 100;
  line-height: 63pt;
}

.bigletter{
  font-weight: 100;
  text-align: right;
  font-family: "Jester 21-WORLD";
  position: absolute;
  font-size: 534pt;
  right: -18mm;
  top: -117mm;
}

.arialtitre{
  font-family: Arial Narrow;
  font-weight: bold;
  font-size: 13pt;
  margin: 0px;
  padding: 0px;
  position: absolute;
  text-align: center;
  left: 58mm;
  top: 49mm;
}

.blist{
  font-family: Arial Narrow;
  font-weight: bold;
  font-size: 13pt;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 8mm;
  left: 8mm;
  line-height: 14pt;
}


.avantpropos{
  page: avantpropos;
  page-break-before: right;  page-break-after: right;
}
.avantpropos > p, .avantpropos blockquote{
  text-align: left;

}

.avantpropos > br{
  margin-top: 14pt;
}

@page avantpropos{
  background-color: #ffffff;
}
.longavantpropos > i{
  font-family: "Inferi Dante";
}

.inlinetitres{
  position: fixed;
  top: 2.9%;
    left: 90%;
}

.arial_link{
  font-family: 'Arial';
position: relative;
top: 1.2rem;
left: -36%;
}
.titreaccueil{
  position: relative;
  margin-top: 1.5%;
  margin-left: 3.9%;
  height: 100%;
  margin-bottom: 0px;
  text-align: left;
  white-space: nowrap;

}

.titreaccueil > a{
  color: inherit;
text-decoration: inherit;transition: text-shadow 300ms;
}

.titreaccueil > a:hover{
cursor: pointer;
text-shadow: var(--number) 0px 0px 4px;

}
/* GESTION DIV RESSOURCES */


/* GESTION DIV RESSOURCES */



p, h1, h2, h3, blockquote, .hyperlink{
font-family:"Inferi";
font-size:13pt;
line-height: 14pt;
margin-left: 2.5%;
color:var(--hilight);
}

p, blockquote > p{
  widows: 2;
  orphans: 2;
}

.entryend{
  padding-bottom: 24pt;    margin-top: -3px;

}
.entryend .soundline:last-child, .entryend .soundline:nth-last-child(2){
  color: transparent;
}

section > hr:last-child{
  break-before: page;
  page-break-before: always;
}

section > hr:first-child{

}

.breakforce{
  page-break-before: always;
  break-before: page;
}

 .pagedjs_right_page dl,.pagedjs_right_page figure,.pagedjs_right_page hr, .pagedjs_right_page  p,.pagedjs_right_page  h1,.pagedjs_right_page  h2,.pagedjs_right_page  h3,.pagedjs_right_page  blockquote,.pagedjs_right_page  .hyperlink{
  float: right;
}
.pagedjs_right_page blockquote > p{
  margin-right:0%;
}
.pagedjs_left_page img{
  margin-left: -35%;
}
figure >img{
  vertical-align: top;
  z-index: 20000;
  position: relative;
}


img{  position: relative;

  z-index: 80003;
}
figcaption{
  display: table-caption;
  width: 10cm;
  caption-side: bottom;
font-size: 7pt;
  font-family: Arial;
}
.pagedjs_right_page img{
  float: right;
  margin-right: -20%;
}

.pagedjs_right_page .portrait{
  float: right;
  margin-right:0%}
.hyperlink{
  font-family: arial, sans-serif;
  text-transform: uppercase;
  text-decoration: underline;
}

.hyperlink::before{
  content: ">> ";
}

.inter{      counter-set: sidenote-counter 0 entrycounter 0;

  font-family: "Jester 21-WORLD";
font-weight: normal;
width: 126mm;
margin-bottom: 1.4rem;
}

p, blockquote, dl, figure{
  padding-left: 21mm;
  padding-right: 12mm;
  padding-top: 14pt;
  margin: 0px;
  width: 126mm;
  text-align: left;
  background-color: white;
  padding-bottom:1pt;
  margin-top: -1.5px;
}


.contenu{
  hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
}
.track{margin-bottom:-2px;}
hr{
  margin-bottom: -2px;
}
section > p:first-child, section > blockquote:first-child, section:first-child, section > figure:first-child, section > .entryend:first-child{
  padding-top: 11mm;
  margin-top: -11mm;
  margin-bottom: -2px;
  padding-bottom:6px;
}

.pagedjs_pages > .pagedjs_page > .pagedjs_sheet > .pagedjs_pagebox > .pagedjs_area > div [data-split-from]:first{
  padding-top: 0mm;
  margin: -11mm
}



.pagedjs_pages > .pagedjs_page > .pagedjs_sheet > .pagedjs_pagebox > .pagedjs_area > div [data-split-from]{
  margin-top: -11mm;
  padding-top: 11mm;
}

p > [data-split-from]{
  padding-top: 0mm;
  margin-top: -11mm;
}

.sidenote-wrapper::before{
  content: ' '; display: block;
}
input{
  display: none;
}
p > .sidenote-wrapper{
  font-family: 'Arial', sans-serif;
  font-size: 7pt;
  line-height: 7pt;
  display:block; 
  position: relative;
  margin-top: 3.5pt;
  z-index: 800000;
}

blockquote > p{
  padding: 0px;
  width: 100%;
}

blockquote{
  padding-bottom: 2pt;
}
section > figure{
  overflow: visible;
}
figure{
  margin-top: -2.5px;
  padding-top: 0%;
  display: inline-block;
}

.sidenote-wrapper{
  page-break-before:avoid;
  display: inline-block;
}

img.paysage{
  margin-bottom: 1pt;
  max-width: 140mm;
  margin-top:14pt;
}
img.portrait{
  height: -moz-fit-content;
  max-height: 12cm;
  width: auto;
  margin-top:14pt;
  margin-bottom: 1pt;
}


/*
p:after{
  content: "*";
font-size: 2.3rem;
top: 2.2rem;
position: relative;
display: block;
left: 50%;
}*/

.split{
  position: fixed;
  height:100%;
  width:1px;
    /*background-color: var(--hilight);*/
    top:0%;
    left:60%;
}

hr{
  pointer-events: all;
  page-break-before:avoid;
  margin: 42pt 0px -2px 0px;
  padding-top: 7pt;
width: 126mm;
padding-left: 21mm;
padding-right: 12mm;
border-color: transparent;
  border-bottom-color: transparent;
border-bottom-color: transparent;
text-align: left;
counter-increment: entrycounter;
background-color: var(--background);
}

section > hr:first-child{
  margin-top: 24pt;    margin-bottom: -2pt;

}
blockquote > p{
  font-family: "Inferi Dante";
 
}

blockquote > p > strong{
  font-weight: normal;
}

hr::before{
  content: counter(entrycounter);
  font-family: "Jester 06-LOVER";
  color: var(--hilight);
}
hr::after{
  content: counter(entrycounter);
  font-family: "Arial";
  color: var(--hilight);
  font-size: 0.7rem;
  position: relative;
  top: 0.86rem;
left: -2rem;
  animation: numberofentry infinite 60s;
  animation-timing-function: steps(120,start);
}

@keyframes numberofentry {
0%{
  top: 0.86rem;
left: -2rem;
}
10%{
  top: 0.76rem;
left: -2.2rem;
}
20%{
  top: 0.5rem;
left: -2.3rem;
}
30%{
  top: 0.4rem;
left: -2rem;
}
40%{
  top: 0rem;
left: -2.9rem;
}
50%{
  top: -1rem;
left: -2.8rem;
}
60%{
  top: -1rem;
left: -2.6rem;
}
70%{
  top: -0.5rem;
left: -2.4rem;
}
80%{
  top: 0rem;
left: -2.2rem;
}
90%{
  top: 0.5rem;
  left:-2.1rem
}
100%{
  top: 0.86rem;
left: -2rem;
}
}
hr + p, hr + blockquote > p{
  background-color: white;
}

ol{
  columns: 3;
}

li > p{
  width: 75%;
}
sup{
  font-family: "Inferi Book";
  font-feature-settings: 'tnum' on, 'onum' on;
  vertical-align: super;
  font-size: 7pt;
  color: #4E01AF;
  line-height: 0.5rem;
  text-decoration: underline;
}
a{
  text-decoration: none
}

.pagedjs_right_page blockquote > span.soundline {
  left: 13.5%;


}

.soundline{
  font-size: 7pt;
  color: black;
  position: absolute;
  left: 1%;
  z-index: 10000;
  font-family: 'Courier New', Courier, monospace;
}
.pagedjs_right_page .soundline{
  left: 13.4%;
}

.epigraphe{
  page: epigraphe;
}

@page epigraphe{
  break-before: right;
  background-color: #ffffff;
}
@page emptyx{
  background-color: #ffffff;
}

.emptyx{
  page: emptyx;
}

.titre{
  page: epigraphe;
}

.inter{
  page: epigraphe
}

hr + p > .soundline:first-child, hr + blockquote > .soundline:first-child{
  color: transparent
}

code{
  font-family: "Courier New";
  font-size: 7pt;
  line-height: 14pt;
}
.biblio, .credits{
  page: emptyx;
  page-break-before: always;
}

.biblio > p{
  font-size: 13pt;
  line-height: 14pt;
  font-family: 'Inferi';
  width: 150mm;
  margin: 0;
}

.pagedjs_left_page .biblio > p{
  padding-left: 24pt;
  padding-right: 65pt;

}
.biblio > p >span{
  display: block;
}

.biblio > h2{
  font-family: Arial Narrow;
  font-size: 13pt;
  font-weight: 600;
  margin: 0pt;
  text-transform: uppercase;
  margin-left: 24pt;
}
.credits span{

  margin: 0pt;


}
.credits p{  font-family: Inferi;
  font-size: 13pt;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 12mm;
}
.credits p>b{
  font-family: Arial Narrow;
}

.overflowing::after{
  position: absolute;
  height: 100mm;
  
  padding-left: 21mm;
  padding-right: 12mm;
  padding-top: 14pt;
  margin: 0px;
  width: 126mm;
  text-align: left;
  background-color: white;
}