<style>
          blockquote {
            width: 71%;
            height: auto;
            font-family: "Inferi Dante";
            padding: 1%;
            background-color: #2F002F;
            color: #EFEFEF;
            font-size: 1.4vw;
            self-align: center;
            position: sticky;
            /*! margin-top: 20%; */
          }

          .blockquote:nth-of-type(1){
            top: 30%;
          }
          .blockquote:nth-of-type(2){
            top: 40%;
          }
          .bloc_general > p {
            font-size: 1.4vw;
            font-family: "Dante Book";
            margin-top: 4%;
            margin-bottom: 5%;
          }

          .bloc_general{
            width: 52%;
          position: fixed;
          top: 4%;
          left: 8%;
          background-color: #DCDCDC;
          padding: 4%;
          overflow-y: scroll;
          height: 80%;

          }

          .footnotes{
            position: fixed;
          left: 73%;
          font-size: 0.9vw;
          font-family: "Inferi Book";
          list-style: korean-hanja-informal;
          bottom: 1%;
          }
</style><script src="https://gist.github.com/mandarg/c37ea778a1b3cd4947dfa2dd66ef7d12.js"></script>
<div class="bloc_general">
  <blockquote>
<p>Percepetion as a representing act is ddistinguished from immersion in the sensible ; it involves an anterior sorting out, presumes a directive surge of consciousness and an intended object.[^3]</p>
</blockquote>
<p>Picture, en anglais, c'est donc la transmission d'un souvenir (à priori) non-narratif, ne faisant pas anecdote en soi. Si la description d'un lieu forme un récit, on n'y intègre pas forcvément les actions s'y déroulant. On dépeint un espace arrêté, une portion délimitée de celui-ci, par apposition mentale d'un cache (on pose une fenêtre)<a href="#fn1" class="footnoteRef" id="fnref1"><sup>1</sup></a> mettant en avant un espace perceptif. Tout l'enjeu de cette pratique du <em>picturing</em>, soit-elle en puissance ou non, est non pas de projeter le paysage et ses potentialités sensorielles, mais plutôt de (se) projeter dans les ressentis dea rapporteurse de paysage.</p>
<blockquote>
<p>&quot;[...] car un tableau ne représente pas une image vue à travers un oeil : l'objet réel, tout comme l'objet peint, sont tous deux objets du regard. Un tableau n'est pas image de la vision. [...] Si la vue est toujours vue de quelque chose, elle n'est pas vue d'elle même.<a href="#fn2" class="footnoteRef" id="fnref2"><sup>2</sup></a></p>
</blockquote>
<p>La captation confine le paysage en un extrait choisi mais le paysage réel, au sens où il est en continuité avec notre situation sensorielle, s'offre d'une autre manière aux sens.</p>
<blockquote>
<p>[le paysage est] <em>un espace à la fois fini et infini, limité et illimité</em></p>
</blockquote>
</div>

<div class="footnotes">
<ol>
<li id="fn1"><p>Anne Cauquelin, <em>L'invention du paysage</em><a href="#fnref1">↩</a></p></li>
<li id="fn2"><p><em>Le miroir noir, enquête sur le côté obscur du reflet</em>, p 80 Arnaud Maillet<a href="#fnref2">↩</a></p></li>
</ol>
</div>
